@media (max-width: 1265px) {
  .pari {
    &__info {
      .pari-block-info-left {
        &__list {
          ul {
            grid-column-gap: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .pari {
    .pari-block {
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
      &__info {
        grid-template-columns: 1fr;
        .pari-block-info-right {
          display: none;
        }
        .pari-block-info-right-media {
          border-radius: 15px;
          background-image: none;
          padding-top: 0px;
          display: block;
          border: 1px solid #7a7e9b33;
          background: linear-gradient(
              133.53deg,
              #313446 -11.18%,
              #070b1f 110.94%
            ),
            linear-gradient(
              0deg,
              rgba(122, 126, 155, 0.2),
              rgba(122, 126, 155, 0.2)
            ),
            linear-gradient(0deg, #f7f8fd, #f7f8fd);
          margin-bottom: 20px;
        }
        .pari-block-info-left {
          padding: 10px;
          &__logo {
            padding: 34px 15px;
            margin-right: 10px;
          }
          &__info {
            display: flex;
            flex-direction: column;
          }
          &__platform {
            left: 181px;
            top: 100px;
            ul {
              flex-direction: row-reverse;
              justify-content: flex-end;
            }
          }
          &__list {
            ul {
              grid-template-columns: 1fr;
              li {
                &:nth-child(n + 5):nth-child(-n + 6) {
                  display: none;
                }
              }
            }
          }
          &__payment {
            .payment {
              justify-content: flex-start;
            }
          }
          .pari-block-info-left-info-name {
            font-size: 16px;
          }
          .pari-block-info-left-info-rating {
            order: 3;
            margin: 0px;
          }
          .pari-block-info-left-info-games {
            margin: 5px 0px 8px 0px;
            font-size: 12px;
          }
        }
      }
      &__list {
        .list-item1 {
          &::before {
            transform: inherit;
          }
        }
        .list-item2 {
          &::before {
            transform: inherit;
          }
        }
        .list-item3 {
          &::before {
            transform: inherit;
          }
        }
        .list-item4 {
          &::before {
            transform: inherit;
          }
        }
        .list-item5 {
          &::before {
            transform: inherit;
          }
        }
      }
    }
  }
  .padding20 {
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .bwin {
    .bwin-section {
      &__text {
        .bwin-section_text-info {
          font-size: 12px;
          max-width: 200px;
        }
      }
      &__block {
        column-gap: 10px;
        .bwin-section_block-column {
          .payment {
            grid-column-gap: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .bwin {
    &:before {
      z-index: 1;
      content: "";
      width: 100%;
      background: rgba(235, 236, 245, 0.6);
      display: inline-block;
      height: 2px;
      position: relative;
      bottom: -235px;
    }
    .bwin-section {
      &__text {
        .bwin-section_text-info {
          max-width: 285px;
        }
      }
      &__block {
        flex-direction: column;
        row-gap: 20px;
        .bwin-section_block-column {
          justify-content: flex-start;
          &:nth-child(2) {
            margin-top: 15px;
          }
          ul {
            flex-direction: row;
            width: 100%;
            column-gap: 25px;
            row-gap: 15px;
            justify-content: flex-start;
          }
          .payment {
            display: none;
          }
        }
        .bwin-payment {
          order: 4;
        }
        .bwin-buttons {
          order: 3;
          flex-direction: row;
          column-gap: 10px;
        }
      }
    }
    &__info {
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
    }
  }

  .media-payment {
    display: flex;
    list-style: none;
    padding: 0px;
    column-gap: 15px;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .bwin-rating {
    .stars-list {
      li {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }

  .bwin {
    .bwin-section {
      .bwin-bonus {
        left: auto;
        right: -48px;
      }
    }
  }
}

@media (max-width: 550px) {
  .arr-table {
    margin-left: 23px;
  }
  .dropdown {
    &__item {
      white-space: nowrap; /* Запрет переноса текста */
      overflow-x: auto; /* Включение горизонтального скролла */
      td {
        &:last-child {
          padding-right: 50px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .pari {
    .pari-block {
      &__info {
        .pari-block-info-left {
          grid-row-gap: 0px;
          &__payment {
            .payment {
              flex-wrap: wrap;
              row-gap: 10px;
              li {
                width: 56px;
                height: 35px;
                &:nth-child(7) {
                  display: none;
                }
                &:nth-child(8) {
                  display: none;
                }
                &:before {
                  transform: scale(0.9) translate(-57%, -57%);
                }
              }
            }
          }
          .payment-list-media {
            display: block;
            margin-top: 10px;
          }
          &__platform {
            left: 140px;
            top: 88px;
            ul {
              .apple {
                &::before {
                  margin-right: 8px;
                }
              }
              .android {
                &::before {
                  margin-right: 8px;
                }
              }
              .windows {
                &::before {
                  margin-right: 8px;
                }
              }
            }
          }
          &__logo {
            svg {
              width: 90px;
              height: 28px;
            }
          }
          &__list {
            margin: 24px 0px 20px;
            ul {
              li {
                font-size: 12px;
              }
            }
          }
        }
        .pari-block-info-right {
          &__bonus {
            font-size: 12px;
          }
          &__info {
            font-size: 18px;
          }
          &__text {
            line-height: 20px;
          }
        }
      }
      &__list {
        .pari-block-list-info {
          .pari-block-list-bold {
            font-size: 12px;
          }
          .pari-block-list-text {
            margin-top: -8px;
          }
        }
      }
    }
    .pari-text {
      padding: 10px;
      width: auto !important;
      &__info {
        font-size: 12px;
        line-height: 20px;
      }
      &__person {
        .pari-text-person-name {
          font-size: 14px;
        }
        .pari-text-person-post {
          font-size: 10px;
        }
      }
    }
  }
  .claim-btn,
  .read-btn {
    font-size: 12px;
    width: 100%;
    height: 44px;
  }
  .rocket {
    &:before {
      transform: scale(0.75) translate(0%, -16%);
    }
  }
  .bwin {
    &:before {
      bottom: -148px;
    }
    .bwin-section {
      padding-top: 15px;
      .bwin-bonus {
        right: -30px;
        svg {
          width: 181px;
          height: 37px;
        }
        &:before {
          font-size: 12px;
        }
      }
      &__head {
        padding: 0px 10px;
        margin-bottom: 15px;
        .bwin-rating {
          align-items: center;
          &__block {
            .bwin-rating__count {
              svg {
                width: 7px;
                height: 17px;
              }
            }
            .bwin-rating__icon {
              margin: 0px 10px;
              svg {
                width: 10px;
                height: 14px;
              }
            }
            .bwin-rating__text {
              font-size: 14px;
            }
            .bwin-rating__numb {
              font-size: 14px;
            }
            .stars-list {
              .star {
                width: 17px;
                height: 17px;
              }
            }
          }
        }
      }
      &__block {
        .bwin-section_block-column {
          .bwin-section__logo {
            margin-right: 15px;
            svg {
              width: 72px;
              height: 60px;
            }
          }
          .bwin-section__text {
            row-gap: 4px;
            .bwin-section_text-bonus {
              display: none;
            }
            .bwin-section_text-promo {
              font-size: 18px;
            }
            .bwin-section_text-info {
              line-height: 14px;
              max-width: 100%;
            }
          }
          ul {
            li {
              &:nth-child(1) {
                order: 2;
              }
              &:nth-child(2) {
                order: 4;
              }
              &:nth-child(3) {
                order: 1;
              }
              &:nth-child(4) {
                order: 3;
              }
            }
            .rocket {
              &:before {
                transform: scale(0.95) translate(0%, -16%);
                margin-top: 2px;
              }
            }
          }
          .more-info,
          .hide-info {
            text-wrap: nowrap;
            white-space: nowrap;
            &::before {
              width: 100%;
            }
            &::after {
              width: 100%;
            }
            .arr-more-info {
              width: 20px;
            }
            .arr-hide-info {
              width: 20px;
            }
          }
        }
      }
    }
    &__info {
      padding: 10px;
      .media-payment {
        column-gap: 14px;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .bwin-section-info-text {
        line-height: 20px;
        font-size: 12px;
        ul {
          row-gap: 10px;
          .like {
            &:before {
              width: 8px;
              height: 10px;
              padding-top: 2px;
              transform: scale(0.7);
            }
          }
          .dislike {
            &:before {
              width: 8px;
              height: 10px;
              padding-top: 2px;
              transform: scale(0.7);
            }
          }
        }
        &:not(:nth-child(2)) {
          padding: 10px;
        }
      }
    }
  }
}

@media (max-width: 471px) {
  .bwin {
    &:before {
      bottom: -153px;
    }
  }
}

@media (max-width: 445px) {
  .pari {
    .pari-block {
      &__info {
        .pari-block-info-left {
          &__payment {
            .payment {
              column-gap: 4px;
              li {
                width: 43px;
                height: 27px;
                &:before {
                  transform: scale(0.7) translate(-68%, -75%);
                }
              }
              .discover2 {
                &:before {
                  transform: scale(0.7) translate(-68%, -20%);
                }
              }
            }
          }
          .payment-list-media {
            margin-top: 4px;
          }
        }
      }
    }
  }
  .bwin {
    &__info {
      .media-payment {
        column-gap: 8px;
        li {
          width: 37px;
          height: 24px;
          &:before {
            transform: scale(0.8) translate(-64%, -58%);
          }
        }
      }
    }
  }
}

@media (max-width: 395px) {
  .pari {
    .pari-block__info {
      .pari-block-info-left {
        &__platform {
          left: 10px;
          top: 95px;
        }
        .pari-block-info-left-info-games {
          font-size: 10px;
        }
        &__logo {
          padding: 27px 11px;
          svg {
            width: 52px;
            height: 16px;
          }
        }
        &__list {
          margin-top: 47px;
        }
      }
    }
  }
}

@media (max-width: 365px) {
  .bwin {
    &:before {
      bottom: -160px;
    }
  }
}

@media (max-width: 350px) {
  .pari {
    .pari-block {
      &__info {
        .pari-block-info-left {
          &__payment {
            .payment {
              column-gap: 4px;
              li {
                width: 43px;
                height: 27px;
              }
            }
          }
          .pari-block-info-left-info-name {
            font-size: 14px;
          }
        }
        .pari-block-info-right {
          &__text {
            line-height: 17px;
          }
        }
      }
      &__list {
        margin-bottom: 15px;
        .pari-block-list-info {
          .pari-block-list-text {
            font-size: 13px;
          }
        }
      }
    }
    .pari-text {
      &__info {
        line-height: 17px;
      }
    }
  }
  .bwin {
    &:before {
      bottom: -162px;
    }
    &__info {
      grid-row-gap: 10px;
      .bwin-section-info-text {
        font-size: 10px;
        line-height: 15px;
        ul {
          li {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
    .bwin-section {
      .bwin-bonus {
        right: -16px;
        &:before {
          font-size: 10px;
        }
        svg {
          width: 141px;
          height: 32px;
        }
      }
      // &__head {
      //   .bwin-rating {
      //     &__block {
      //       .bwin-rating__icon {
      //         margin: 0px 5px;
      //       }
      //     }
      //   }
      // }
      &__block {
        padding: 10px 10px 0px 10px;
        row-gap: 15px;
        .bwin-section_block-column {
          .bwin-section {
            &__logo {
              margin-right: 10px;
              .bwin-logo {
                display: none;
              }
              .bwin-logo-media {
                display: block;
              }
              svg {
                width: 72px;
                height: 84px;
              }
            }
          }
          ul {
            column-gap: 15px;
            row-gap: 10px;
            .rocket {
              &:before {
                margin-right: 5px;
                transform: scale(0.75) translate(0%, -16%);
              }
            }
            li {
              font-size: 12px;
            }
          }
        }
        .bwin-buttons {
          flex-direction: column-reverse;
          row-gap: 10px;
        }
      }
    }
  }
}

@media (max-width: 335px) {
  .pari {
    .pari-block {
      &__info {
        .pari-block-info-left {
          &__payment {
            .payment {
              li {
                width: 40px;
              }
            }
          }
        }
      }
    }
  }
}
